{{!-- will be what the post model is looking for  --}}

<form id='loginForm'>
            <input type='Email' placeholder='Email' id="email-login" />
            <input type='Password' placeholder='Password' id="password-login" />
            <button type='submit' class='btn'>Login</button>
          </form>

{{!-- **This is the info will need to be entered for a post** --}}
             {{!-- post_title: {
      type: DataTypes.STRING,
      allowNull: false,
    },
    post_img: {
      type: DataTypes.STRING,
      allowNull: false,
    },
    post_price: {
      type: DataTypes.FLOAT,
      allowNull: false,
    },
    post_medium: {
      type: DataTypes.STRING,
      allowNull: false,
    },
    post_size: {
      type: DataTypes.STRING,
      allowNull: false,
    },
    post_year: {
      type: DataTypes.INTEGER,
      allowNull: false,
    },
    post_signed: {
      type: DataTypes.BOOLEAN,
      allowNull: false,
    }, --}}