 {{!-- Playing with a nav bar in bulma --}}  
 
 {{!-- <nav class="container is">
        <p class="has-text-grey">
            <button class="button is-large is-responsive is-hovered is-rounded">
                <a href="">Log In</a> &nbsp;·&nbsp;
            </button>

            <button class="button is-large is-responsive is-hovered is-rounded">
            <a href="">Forgot Password</a> &nbsp;·&nbsp;
            </button>

            <button class="button is-large is-responsive is-hovered is-rounded">
            <a href="">Need Help?</a>
            </button>

        </p>
    </nav> --}}