// **LAYOUT FILES WILL HAVE EVRYTHING WE WANT ON EVERY PAGE , HEADER, FOOTER, ETC**  DB

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {{>header}}

    {{{body}}}

    {{>footer}}
</body>

</html>



{{!-- 
    <form>
  <div class="field">
    <div class="control">
      <input class="input is-large" type="email" placeholder="Email" autofocus="">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-large" type="password" placeholder="Password">
    </div>
  </div>
</form> --}}