<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>ART (C)ART</title>
    <link rel='icon' type='image/x-icon' href='/images/cart.png' />
    <link rel='stylesheet' href='/css/style.css' />
    <link
      href='https://fonts.googleapis.com/css2?family=Italiana&family=Lato:wght@300&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <div class='container'>
      <div class='navbar'>
        <div class='logo'>
          <a href='/'>
            <h2>ART (C)ART</h2>
          </a>
        </div>
        <nav>
          <ul id='MenuItems'>
            <li><a href='/'>Home</a></li>
            <li><a href='/products'>Products</a></li>

            {{#if loggedIn}}
              <button id='logout'>Logout</button>
            {{else}}

              <li><a href='/login'>Sign In</a></li>
            {{/if}}

            <li><a href='/upload'>Upload</a></li>
            <li><a href='/account'>Account</a></li>
          </ul>
        </nav>
        <img src='images/menu.png' onclick='menutoggle()' class='menu-icon' />
      </div>
    </div>
    {{{body}}}
    <!-- Footer -->
    <div class='footer'>
      <div class='container'>
        <div class='row'>
          <div class='footer-col1'>
            <h3>Download the ART C(ART) App</h3>
            <div class='app-logo'>
              <img src='images/play-store.png' />
              <img src='images/app-store.png' />
            </div>
          </div>
          <div class='footer-col2'>
            <h3>Useful Links</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog Post</li>
              <li>Return Policy</li>
              <li>Join Affiliate</li>
            </ul>
          </div>
          <div class='footer-col3'>
            <h3>Follow Us</h3>
            <ul>
              <li>Instagram</li>
              <li>Facebook</li>
              <li>Pinterest</li>
              <li>YouTube</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class='copyright'>&#169 2022 - ART (C)ART, Inc.</p>
      </div>
    </div>
    <script src='./js/toggle-menu.js'></script>
    <script src='./js/logout.js'></script>

  </body>
</html>