<h2>Account page</h2>

{{#each socialPost}}
<h3>{{post_title}}</h3>

<h5>{{post_price}}</h5>
<h5>{{post_year}}</h5>
{{/each}}

<button class="button is-small is-rounded is-primary">Small</button>
<button class="button is-rounded is-primary">Default</button>
<button class="button is-normal is-rounded is-primary">Normal</button>
<button class="button is-medium is-rounded is-primary">Medium</button>
<button class="button is-large is-rounded is-primary">Large</button>