<div class='login-page'>
  <div class='container'>
    <div class='row'>
      <div class='col-2'>
        <img
          src='images/7-Tips-to-Finding-Art-Inspiration-Header-1024x649.jpeg'
          width='100%'
        />
      </div>
      <div class='col-2'>
        <div class='form-container'>
          <div class='form-btn'>
            <span onclick='login()'>Login</span>
            <span onclick='register()'>Register</span>
            <hr id='indicator' />
          </div>
          <form id='LoginForm'>
            <input type='Email' placeholder='Email' />
            <input type='Password' placeholder='Password' />
            <button type='submit' class='btn'>Login</button>
          </form>
          <form id='RegForm'>
            <input type='First Name' placeholder='First Name' />
            <input type='Last Name' placeholder='Last Name' />
            <input type='Email' placeholder='Email' />
            <input type='Username' placeholder='Username' />
            <input type='Password' placeholder='Password' />
            <button type='submit' class='btn'>Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='./js/login.js'></script>
<script src='./js/toggle-form.js'></script>