<div class='small-container-2 single-product'>
  <div class='row'>
    <div class='col-2'>
      <img src='images/by-the-coast.jpg' width='100%' id='ProductImg' />
    </div>
    <div class='col-2'>
      <p class='relative-positioning'>Home / Oil Painting</p>
      <h1>By the Coast - Seascape Oil Painting by Darko Topalski</h1>
      <h4>$217.00</h4>
      <h3>PRODUCT DETAILS <i class='fa fa-indent'></i></h3>
      <br />
      <p>
        Medium: Oil on Canvas
        <br />
        Size: 20" x 28"
        <br />
        Year: 2018
        <br />
        Signed: Yes
      </p>
    </div>
  </div>
</div>
<div class='small-container-2'>
  <div class='row row-2'>
    <h2 class='title'>Related Products</h2>
  </div>
</div>
<div class='small-container-3'>
  <div class='row'>
    <div class='col-4'>
      <img
        width='216'
        height='288'
        src='images/irish-farmland-north-coast.jpg'
      />
      <h4>Irish Farmland</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-half-o'></i>
      </div>
      <p>$279.00</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/up-from-tenants-harbor.jpg' />
      <h4>Tenants Harbor</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-half-o'></i>
      </div>
      <p>$5,900.00</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/blue-day.jpg' />
      <h4>Blue Day</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-o'></i>
      </div>
      <p>$310.00</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/beach-cafe.jpg' />
      <h4>Beach Cafe</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-o'></i>
      </div>
      <p>$979.00</p>
    </div>
  </div>
</div>