<div class='small-container-2'>
  <div class='row row-2'>
    <h2 class='title'>All Products</h2>
  </div>
  <div class='row'>
    <div class='col-4'>
      <a href='/product'><img
          width='216'
          height='288'
          src='images/by-the-coast.jpg'
        /></a>
      <h4>By the Coast</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-o'></i>
      </div>
      <p>$217.00</p>
    </div>
    <div class='col-4'>
      <img
        width='216'
        height='288'
        src='images/irish-farmland-north-coast.jpg'
      />
      <h4>Irish Farmland</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-half-o'></i>
      </div>
      <p>$279.00</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/up-from-tenants-harbor.jpg' />
      <h4>Tenants Harbor</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-half-o'></i>
      </div>
      <p>$5,900.00</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/blue-day.jpg' />
      <h4>Blue Day</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-o'></i>
      </div>
      <p>$310.00</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-4'>
      <img width='216' height='288' src='images/cherry-blossoms.jpg' />
      <h4>Cherry Blossoms</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-o'></i>
      </div>
      <p>$952.00</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/front-gate.jpg' />
      <h4>Front Gate</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-half-o'></i>
      </div>
      <p>$333.00</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/august-at-south-beach.jpg' />
      <h4>August at South Beach</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-half-o'></i>
      </div>
      <p>$145.00</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/winds-of-change.jpg' />
      <h4>Winds of Change</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-o'></i>
      </div>
      <p>$565.00</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-4'>
      <img width='216' height='288' src='images/beach-cafe.jpg' />
      <h4>Beach Cafe</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-o'></i>
      </div>
      <p>$979.00</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/arrondissement.jpg' />
      <h4>Arrondissement</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-half-o'></i>
      </div>
      <p>$2,500.00</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/on-the-avenue.jpg' />
      <h4>On the Avenue</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-half-o'></i>
      </div>
      <p>$1,125.00</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/excitement.jpg' />
      <h4>Excitement</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-o'></i>
      </div>
      <p>$3,140.00</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-4'>
      <img
        width='216'
        height='288'
        src='images/vue-de-iasile-et-de-la-chapelle-de-saint-rémy.jpg'
      />
      <h4>Saint-Rémy</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
      </div>
      <p>$35 million</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/impression-sunrise.jpg' />
      <h4>Impression, Sunrise</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
      </div>
      <p>$1.6 million</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/a-wall-nassau.jpg' />
      <h4>A Wall, Nassau</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
      </div>
      <p>$1.1 million</p>
    </div>
    <div class='col-4'>
      <img width='216' height='288' src='images/grand-view.jpg' />
      <h4>Grand View</h4>
      <div class='rating'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-o'></i>
      </div>
      <p>$1,750.00</p>
    </div>
  </div>
</div>