{{!-- will be what the post model is looking for --}}

<form id='NewPost'>
    <input type='Text' placeholder='Title' id="Title" />
    <input type='Number' placeholder='Price' id="Price" />
    <input type='Text' placeholder='Medium' id="Medium" />
    <input type='Size' placeholder='Size' id="Size" />
    <input type='Number' placeholder='Year' id="Year" />

    {{!-- **should we make this different?** --}}
    <input type='Text' placeholder='Signed' id="Signed" />

    <label for="picture">Choose an image to upload:</label>

<input type="file"
       id="picture" name="picture"
       accept="image/png, image/jpeg">

    <button type='submit' class='btn'>Submit</button>
</form>
